<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <div class="form-group">
    <h2>Add Medication</h2>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="form-group">
      <label>Medication Name:</label>
        <input [(ngModel)]="newMedication.medication" name="medicationName" />
      </div><div class="form-group">
        <label>Dosage: <input [(ngModel)]="newMedication.dosage" name="dosage" />      </label>
      </div><div class="form-group">
          <label>Quantity: <input [(ngModel)]="newMedication.quantity" name="quantity"/> </label>
        </div>
            <div class="actions">
              <button type="button" (click)="onCancel()">Cancel</button>
              <button type="submit">Create</button>
            </div>
    </div>
  </form>
</dialog>
