# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output Frontend
Frontend/dist
Frontend/tmp
Frontend/out-tsc
Frontend/bazel-out

# Compiled output Backend
Backend/GeneralMedicineWard/.azure/
Backend/GeneralMedicineWard/bin/
Backend/GeneralMedicineWard/obj/

Backend/EmergencyWard/.azure/
Backend/EmergencyWard/bin/
Backend/EmergencyWard/obj/

Backend/MainServer/.azure/
Backend/MainServer/bin/
Backend/MainServer/obj/

# Compiled output Mobile
# To do

# Node
Frontend/node_modules
Frontend/npm-debug.log
Frontend/yarn-error.log

# IDEs and editors
Frontend/.idea/
Frontend/.project
Frontend/.classpath
Frontend/.c9/
Frontend/*.launch
Frontend/.settings/
Frontend/.angular
Frontend/*.sublime-workspace

# Visual Studio Code
Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json
Frontend/.history/*

# Miscellaneous
Frontend/.angular/cache
Frontend/.sass-cache/
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/testem.log
Frontend/typings

# System files
Frontend/.DS_Store
Frontend/Thumbs.db
