<div class="patient-list">
  @for (patient of patients; track patient.userId) {
  <div class="patient-card">
    @if(roleOfTheLoggedUser() == 'Doctor'){ @if (!isEditingOrAdding(patient)) {
    <span class="close-icon" (click)="confirmDelete(patient)">×</span>
    } }
    <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
    <p><strong>Email:</strong> {{ patient.email }}</p>
    <p><strong>Gender:</strong> {{ patient.gender }}</p>
    <p><strong>Doctor ID:</strong> {{ patient.doctorID }}</p>
    <p><strong>Ward:</strong> {{ patient.ward }}</p>
    <p><strong>Room:</strong> {{ patient.room }}</p>
    <p>
      <strong>Status:</strong>
      <span [style.color]="patient.active ? 'lightgreen' : 'salmon'">
        {{ patient.active ? "Active" : "Inactive" }}
      </span>
    </p>

    <div class="patient-actions">
      @if(roleOfTheLoggedUser() == 'Doctor'){
      <button (click)="startEditPatient(patient)">✏️ Edit</button>
      }
      <button (click)="goToMedications(patient.userId)">
        💊 View Medication
      </button>
    </div>
  </div>
  }
</div>

<!-- Edit Form -->
@if (editingPatient) {
<app-edit-pacient
  [patient]="editingPatient"
  (cancel)="onCloseEditTask()"
  (submit)="onSubmitEditingPatient()"
  editPurposeText="Edit Patient"
></app-edit-pacient>
}
