<app-header
  text="Welcome{{ this.username }}!"
  [backButtonVisible]="false"
  [isTheMainPage]="true"
></app-header>
<main>
  <div class="main-container">

    @if (role === 'nurse' || role === 'Nurse') 
    {
    <h3>No job for Nurse, only on Mobile</h3>
    } 

    @if (role === 'Doctor' || role === 'doctor') 
    {
    <div class="button-group">
      <button (click)="goToPatients()">Display my patients</button>
      <button (click)="goToTransports()">Display all transports</button>
    </div>
    } 
    
    @if (role === 'Pharmacist' || role === 'pharmacist') 
    {
    <div class="button-group">
      <button (click)="goToPatients()">Display all patients</button>
      <button (click)="goToTransports()">Display all transports</button>
      <button>Verify the request for a patient</button>
      <!-- <button>Send the requested drug</button>
      <button>Decline the requested drug</button> -->
    </div>
    }
  </div>
</main>
